<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.user.mapper.UserMapper">
	<select id="checkExists" parameterType="string" resultType="int">
		select count(name) from t_user where name=#{name};
	</select>
	<insert id="doRegist" parameterType="User">
		insert into t_user (
		name,
		pass) values(
		#{name},
		#{pass})
	</insert>
	<select id="login" parameterType="User" resultType="User">
		select * from t_user where name=#{name}
		 and pass=#{pass}
	</select>
</mapper> 











